body {
    background-color: #40b4bc; /* aqua */
}

@media screen and (max-width: 1080px) {
    body {
        background-color: #565554; /* gray */
    }
}

@media screen and (max-width: 550px) {
    body {
        background-color: #2e86ab; /* blue */
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: #f6f5ae; /* yellow */
    }
}
